header {
  background-color: rgb(29, 29, 29);
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 5px 25px;
}

.title-header-link {
  color: white;
  text-decoration: none;
}

.header-link {
  color: white;
  margin: 5px;
  text-decoration: none;
}

body {
  background-image: url("https://images4.alphacoders.com/839/83944.jpg");
  background-size: cover;
  color: white;
}

.profile-pic {
  border-radius: 5px;
  box-shadow: rgba(204, 204, 204, 0.2) 0px 7px 29px 0px;
  float: left;
  margin: 15px;
  width: 350px;
}

.main-home {
  display: flex;
  height: 100%;
  padding-top: 50px;
}

.presentation-text {
  align-items: center;
  display: flex;
  margin-left: 15px;
}

.presentation-text h2 {
  font-size: 20px;
  font-weight: 400;
}

.trybe-logo {
  margin-left: 5px;
  width: 80px;
}

.about-container {
  margin: 50px;
}

.skills-container {
  display: flex;
  justify-content: space-evenly;
  margin-top: 50px;
}

.skills {
  list-style: none;
  padding: 0;
}

.contact-logo {
  margin: 20px;
  padding: 3px;
  width: 70px;
}

.contact-container {
  text-align: center;
}

fieldset {
  height: 470px;
}

.form-container {
  background-color: rgb(29, 29, 29);
  border-radius: 5px;
  box-shadow: rgba(204, 204, 204, 0.2) 0px 7px 29px 0px;
  display: flex;
  flex-flow: column;
  margin: 50px auto;
  padding: 25px;
  width: 50%;
}

.email-form-title {
  margin-bottom: 50px;
}
